* {
  font-family: "Courier New", Courier, monospace;
}
.divsign {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.divsign form {
  background: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.divsign form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.divsign form input[type="text"],
[type="email"],
[type="password"],
[type="RepeatPassword"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.divsign form button[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 40%;
  margin-top: 30px;
}
.divsign form button[type="submit"]:hover {
  background-color: #0056b3;
}
.error {
  color: red;
  font-size: 13px;
}
